<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lupulopolis E-commerce</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
</head>
<body>
    <header class="navbar">

        <div class="hamburger-menu">
            <span class="fas fa-bars"></span>
        </div>

        <div class="logo-menu">
            <a href="./" class="logo-navbar">
                <span><img src="img/logo-navbar.png" alt="logo-navbar"></span>
            </a>    
        </div>

        <div class="logo-login-cart">
            <span class="fas fa-user-alt"></span>
            <span class="fas fa-shopping-cart"></span>
        </div>
        
        <nav class="navbar-container">
           <div class="navbar-menu">
                <ul class="navbar-links">
                    <li class="navbar-item"><a class="navbar-link" href="#">Promos</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="#">Cervezas</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="#">Eventos</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="#">Contacto</a></li>
                </ul>

                <div class="search-bar">
                    <input  class="nav-search"  type="text" placeholder="Buscador de productos">
                    <button type="submit" class="logo-search"><span class="fas fa-search"></span></button>
                </div>
           </div>
        </nav> 

    </header>
    <main>
        <section class="slider-container">
            <h2>Ofertas de Verano!</h2>
            
        </section> 
    </main>
</body>
</html>