<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lupulopolis E-commerce</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
    <!-- Light-slider  CSS-->
    <link rel="stylesheet" type="text/css" href="styles/lightslider.css">
    <!-- Jquery -->
    <script  src="scripts/jquery.js"></script>
    <!-- Light-Slider JS -->
    <script type="text/javascript" src="scripts/lightslider.js"></script>
</head>
<body>
   <header class="navbar">

        <div class="hamburger-menu">
            <span class="fas fa-bars"></span>
        </div>
 
        <div class="logo-menu">
            <a href="./" class="logo-navbar">
                <span><img src="img/logo-navbar.png" alt="logo-navbar"></span>
            </a>    
        </div>
 
        <!-- <div class="logo-login-cart">
            <span class="fas fa-user-alt"></span>
            <span class="fas fa-shopping-cart"></span>
        </div> -->
        
        <nav class="navbar-container">
           <div class="navbar-menu">
                <ul class="navbar-links">
                    <li class="navbar-item"><a class="navbar-link" href="#">Promos</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="#">Cervezas</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="#">Eventos</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="#">Contacto</a></li>
                </ul>

                <div class="search-bar">
                    <input  class="nav-search"  type="text" placeholder="Buscador de productos">
                    <button type="submit" class="logo-search"><span class="fas fa-search"></span></button>
                </div>
           </div>
        </nav> 

    </header> 
    <main>
            <section class="contenedor-detail">
                <img src="img/product-2.jpg" alt="">

                <article class="detail-product">
                    <h1>Beer Pack x6 Heineken</h1>
                    <h2>$650</h2>
                    <p>Beer Pack x6 Heineken 375cc</p>
                    <ul>
                        <li>Heineken x6 375cc</li>
                    </ul>
                    <form action="">
                        <input size="4" type="number" value="1">
                        <button>Añadir al carrito</button>
                    </form>
                </article>

                <article class="beer-description">
                    <p>Descripcion</p>
                </article>

                <article class="beer-generalInfo">
                    <p>Informacion General</p>
                </article>

                <article class="beer-review">
                    <p>Valoraciones</p>
                </article>
            </section>
    </main>

    <footer>
        <section class="box-footer">
            <h3>Tel: XXXX-XXXXXX</h3>

            <ul>
                <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
            </ul>
        </section>
    </footer>
</body>
</html>