<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lupulopolis E-commerce</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
    <!-- Light-slider  CSS-->
    <link rel="stylesheet" type="text/css" href="styles/lightslider.css">
    <!-- Jquery -->
    <script  src="scripts/jquery.js"></script>
    <!-- Light-Slider JS -->
    <script type="text/javascript" src="scripts/lightslider.js"></script>
</head>
<body>
    <header class="navbar">

        <div class="hamburger-menu">
            <span class="fas fa-bars"></span>
        </div>
 
        <div class="logo-menu">
            <a href="./" class="logo-navbar">
                <span><img src="img/logo-navbar.png" alt="logo-navbar"></span>
            </a>    
        </div>
 
        <div class="logo-login-cart">
            <span class="fas fa-user-alt"></span>
            <span class="fas fa-shopping-cart"></span>
        </div>
        
        <nav class="navbar-container">
           <div class="navbar-menu">
                <ul class="navbar-links">
                    <li class="navbar-item"><a class="navbar-link" href="#">Promos</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="#">Cervezas</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="#">Eventos</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="#">Contacto</a></li>
                </ul>

                <div class="search-bar">
                    <input  class="nav-search"  type="text" placeholder="Buscador de productos">
                    <button type="submit" class="logo-search"><span class="fas fa-search"></span></button>
                </div>
           </div>
        </nav> 

    </header>  
    <main>
       
        <div class="cart-container">
            <div class="nav-cart">
                <p></p>
                <p>Producto</p>
                <p>Cantidad</p>
                <p>Precio</p>
            </div>

            <div class="product-cart">
                <span class="fas fa-trash-alt"></span>
                <div>
                    <img src="img/product-2.jpg" alt="">
                    <p>Heineken x6 375cc</p>
                </div>
                <input type="number" size="3" value="1">
                <p>$360</p>
            </div>

            <div class="product-cart">
                <span class="fas fa-trash-alt"></span>
                <div>
                    <img src="img/product-2.jpg" alt="">
                    <p>Heineken x6 375cc</p>
                </div>
                <input type="number" size="3" value="1">
                <p>$360</p>
            </div>

            <div class="product-cart">
                <span class="fas fa-trash-alt"></span>
                <div>
                    <img src="img/product-2.jpg" alt="">
                    <p>Heineken x6 375cc</p>
                </div>
                <input type="number" size="3" value="1">
                <p>$360</p>
            </div>

            <div class="total-cost">
                
            </div>
        </div>

    </main>

    <footer>
        <section class="box-footer">
            <ul>
                <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
            </ul>

            <p>Copyright 2020</p>
        </section>
    </footer>
</body>
</html>