<header>
    <div class="logo-navbar">
      <span><img src="/images/newLogo2.png" alt="logo de lupulo"></span>
    </div>

    <div class="navbar-container">
      <ul class="navbar">
        <li class="navbar-list"><a class="navbar-item" href="#">Promociones</a></li>
        <li class="navbar-list"><a class="navbar-item" href="#">Ofertas</a></li>
        <li class="navbar-list"><a class="navbar-item" href="#">Productos</a></li>
        <li class="navbar-list"><a class="navbar-item" href="#">Contacto</a></li>
      </ul>
    </div>

    <div class="user-option">
      <a class="navbar-item" href="#"><i class="fas fa-user"></i> Login</a>
      <a class="navbar-item" href="#"><i class="fas fa-shopping-cart"></i> Cart</a>
    </div>
</header>