<header>

    <nav>
      <div class="logo-navbar">
        <a href="/"><span>Lupulo</span>polis</a>
      </div>

      <div class="navbar-container ">
        <ul class="navbar">
          <li class="navbar-list"><a class="navbar-item" href="#">Promociones</a></li>
          <li class="navbar-list"><a class="navbar-item" href="#">Ofertas</a></li>
          <li class="navbar-list"><a class="navbar-item" href="#">Productos</a></li>
          <li class="navbar-list"><a class="navbar-item" href="#">Contacto</a></li>
        </ul>
      </div>
       
      <div class="user-option">
        <a class="navbar-item" href="#"><i class="fas fa-user"></i></a>
        <a class="navbar-item" href="#"><i class="fas fa-shopping-cart"></i></a>
        
        <div class="toggle">
          <button><span class="fas fa-bars"></span></button>
        </div>
      </div>

    </nav>
  
</header>

