*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BARRA DE NAVEGACION */

 .navbar{
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: #ff7d00;
  text-align: center;
  height: 60px;
  z-index: 100;
}

.navbar-container{
  display: none;
}

.hamburger-menu span{
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 24px;
  padding-top: 8px;
  background-color: rgb(44, 40, 40);;
  margin: 10px;
  border-radius: 5px;
}
#login {
  padding: px;
  transition-duration: 0.4s;
}

#login:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  
}
/* .hamburger-menu span:hover{
  background-color: #3cc737;
} */

.logo-menu img{
  height: 70px;
  width: auto;
  position: relative;
  left: 22px;
  top: 1.1em;
}

.logo-login-cart{
  margin-right: 15px;
  margin-top: 10px;
}

.logo-login-cart span{
  width: 30px;
  height: 30px;
  color: rgb(44, 40, 40);
  font-size: 1.2em;
  margin-left: 10px;
}

/* .logo-login-cart span:hover{
  color: lightgreen;
} */

/* FOOTER */

.box-footer{
  display: flex;
  background-color: #f77d00;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.box-footer ul{
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.box-footer p{
  margin-top: 10px;
  color: whitesmoke;
}

.box-footer span{
  font-size: 2em;
}

.fa-facebook-square{
  color: #FFF;
}

.fa-instagram{
  background : linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  color :#FFF;
  border-radius: 32%;
  padding: 0 2px;
}

.fa-twitter{
  color: #00acee;
}

/* CUERPO DEL SITIO GENERAL */

body{
  background-color: #FFF7B6;
}

img{
  width: 100%;
  height: auto;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

/* SLIDER PRODUCTS */

.box{
  width: 250px;
  box-shadow:  2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 50px;
}

.slide-img{
  height: 250px;
  position: relative;

}

.slide-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: 'Segoe UI';
  background-color: #fff;
}

.type{
  display: flex;
  flex-direction: column;
}

.type a{
  color: #222222;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}

.type span{
  color: rgba(26, 26, 26, 0.5);
}

.price{
  color: #333333;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: poppins;
  letter-spacing: 0.5px;
}

.overlay{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(94, 119, 96, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-btn{
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Segoe UI';
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.buy-btn:hover{
  color: #FFF;
  background-color: limegreen;
  transition: all ease 0.3s;
}


.add-btn{
  background-color: limegreen;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 15px 0;
  border: 0;
}

.overlay{
  visibility: hidden;
}

/* .slide-img:hover .overlay{
  visibility: visible;
  animation: fade;
} */

.slider{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-ofert{
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.slider-ofert h2{
  position: relative;
  top: 35px;
}

@keyframes fade{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

/* BEER-ACCESSORIES */

.beer-accessories{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #fff;
}

.beer-accessories p{
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 30px;
}

.beer-accessories button{
  width: 100px;
  height: 30px;
  border-radius: 10%;
  background-color: limegreen;
  border: 0;
}

/*  PRODUCT DETAIL /productDetail.html */

.contenedor-detail{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
}

.detail-product{
  padding: 5px;
}

.detail-product h1{
  margin-top: 5px;
  font-size: 1.5em;
}

.detail-product h2{
  margin-top: 15px;
  font-size: 1.1em;
}

.detail-product p{
  margin-top: 15px;
}

.detail-product ul{
  list-style-type: disc;
  margin-left: 15px;
  margin-top: 15px;
}

.detail-product form{
  margin-top: 15px;
  margin-bottom: 30px;
}

.detail-product button{
  border: 0;
  padding: .5em 1.7em;
  width: 80%;
  background-color: limegreen;
}

.detail-product input{
  text-align: center;
  padding: .5em 0;
  
}

.beer-description{
  padding: 5px;
  font-weight: bold;
  font-size: .8em;
}

.beer-generalInfo{
  padding: 5px;
  margin-top: 15px;
  font-size: .8em;
  font-weight: bold;
}

.beer-review{
  padding: 5px;
  margin-top: 15px;
  font-size: .8em;
  font-weight: bold;
}

.product-relation{
  display: flex;
  flex-flow: wrap row;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.product-relation > h3{
  width: 100%;
  margin-bottom: 15px;
}

.relation-item{
  background-color: #fff;
  width: 150px;
  height: auto;
  margin-bottom: 30px;
  border: 0;
}

.relation-item > div{
  display: flex;
  padding: 5px 0;
  justify-content: space-around;
}

.relation-item > p{
  margin-top: 5px;
  width: 30%;
}

.relation-item > button{
  padding: 5px 0;
  width: 100%;
  border: 0;
  background-color: limegreen;
}

@media (min-width: 599px){

  .box{
    width: 200px;
  }
}

/*  PRODUCT CART /producCart.html */

.cart-container{
  margin: 30px auto;
  width: 95%;
  height: auto;
  background-color: #fff;
  border: 1px solid black;
}

.nav-cart{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: grey;
  border-bottom: 1px solid black;
}

.product-cart{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid black;
}

.product-cart > span{
  color: gray;
  font-size: 1.2em;
}

.product-cart > div{
  text-align: center;
}

.product-cart > div > img{
  width: 100px;
  height: 100px;
}

.product-cart > input{
  margin-right: 30px;
}

.total-cost{
  margin-top: 10px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-top: 1px solid black;
}

.total-cost > p > input{
  background-color: gray;
  font-size: 1em;
  color: whitesmoke;
  padding: 5px;
  border: 0;
}

/*  REGISTER /register.html */

.register-container{
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

.register-container > form{
  display: flex;
  flex-direction: column;
}

.register-container > form > input{
  text-align: center;
  padding: 8px 12px;
  margin: 10px 0;
}

.register-container > form > button{
  padding: 8px 12px;
  margin: 10px 0;
  background-color: limegreen;
  border: 0;
}

/*  LOGIN /login.html */

